In [4]:
import numpy as np

In [6]:
import pandas as pd

In [8]:
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("C://Users/302-24/Desktop/kr_population.csv")

In [10]:
print(df.head())

   Year  population   birth   death  increments  birthrate
0  1925    12997611  558897  359042      199855       6.59
1  1926    13052741  511667  337948      173719        NaN
2  1927    13037169  534524  353818      180706        NaN
3  1928    13105131  566142  357701      208441        NaN
4  1929    13124279  566969  414366      152603        NaN

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        97 non-null     int64
 1   population  97 non-null     int64
 2   birth       97 non-null     int64
 3   death       97 non-null     int64
 4   increments  97 non-null     int64
 5   birthrate   69 non-null     float64
dtypes: float64(1), int64(5)
memory usage: 4.7 KB
None

In [16]:
print(df.describe())

              Year    population         birth          death     increments  \
count    97.000000  9.700000e+01  9.700000e+01      97.000000      97.000000
mean   1973.000000  3.277411e+07  6.822510e+05  297280.814433  384904.969072
std      28.145456  1.356022e+07  2.071919e+05   68618.622325  228457.231870
min    1925.000000  1.299761e+07  2.605620e+05  210071.000000  -57118.000000
25%    1949.000000  1.956686e+07  5.337680e+05  244506.000000  208441.000000
50%    1973.000000  3.410315e+07  6.400890e+05  275895.000000  355320.000000
75%    1997.000000  4.595358e+07  8.483120e+05  346800.000000  585551.000000
max    2021.000000  5.183624e+07  1.080535e+06  597474.000000  795185.000000

       birthrate
count  69.000000
mean    2.815290
std     1.919868
min     0.808000
25%     1.244000
50%     1.660000
75%     4.540000
max     6.780000

In [18]:
print(df.shape)

(97, 6)

In [20]:
df.isna().sum()

Year           0
population     0
birth          0
death          0
increments     0
birthrate     28
dtype: int64

In [22]:
df.isna().sum().sum()

28

In [24]:
df_missing = df[df.isnull().any(axis=1)]

In [26]:
print(df_missing)

    Year  population    birth   death  increments  birthrate
1   1926    13052741   511667  337948      173719        NaN
2   1927    13037169   534524  353818      180706        NaN
3   1928    13105131   566142  357701      208441        NaN
4   1929    13124279   566969  414366      152603        NaN
6   1931    13895052   589428  346800      242628        NaN
7   1932    14117191   600545  384287      216258        NaN
8   1933    14229277   607021  336232      270789        NaN
9   1934    14449155   618135  356515      261620        NaN
11  1936    15114775   639355  381806      257549        NaN
12  1937    15235383   636839  342575      294264        NaN
13  1938    15358193   569299  347025      222274        NaN
14  1939    15486028   585482  353391      232091        NaN
16  1941    15745478   553690  366239      187451        NaN
17  1942    16013742   533768  376003      157765        NaN
18  1943    16239721   513846  384881      128965        NaN
20  1945    16695819   544786  367308      177478        NaN
21  1946    19369270   590763  410629      180134        NaN
22  1947    19836234   686334  361019      325315        NaN
23  1948    20027393   692948  374512      318436        NaN
24  1949    20188641   696508  341188      355320        NaN
26  1951    19304737   675666  579142       96524        NaN
27  1952    19566860   722018  457865      264153        NaN
28  1953    19979069   777186  363619      413567        NaN
29  1954    20520601   839293  348850      490433        NaN
31  1956    21897911   945990  294344      651646        NaN
32  1957    22681233   963952  293344      670608        NaN
33  1958    23490027   993628  291864      701764        NaN
34  1959    24295786  1016173  289525      726648        NaN

In [28]:
print(df.tail())

    Year  population   birth   death  increments  birthrate
92  2017    51361911  357771  285534       72237      1.052
93  2018    51585058  326822  298820       28002      0.977
94  2019    51764822  303054  295132        7922      0.918
95  2020    51836239  272337  304948      -32611      0.837
96  2021    51744876  260562  317680      -57118      0.808

In [30]:
df_clean = df.copy()

In [32]:
df_clean["birthrate"] = df_clean["birthrate"].fillna(df_clean["birthrate"].median())

In [34]:
# 결측값 확인
df_clean.isna().sum()

Year          0
population    0
birth         0
death         0
increments    0
birthrate     0
dtype: int64

In [44]:
# sub 플롯 생성 (2x2 레이아웃)
fig, axes = plt.subplot(2, 2, figsize=(14, 10))

# 연도별 총 인구 변화
axes[0, 0].plot(df_clean["Year"], df_clean["population"], color="blue", label="Population")
axes[0, 0].set_title("Annual Total Population Change")
axes[0, 0].set_xlabel("Year")
axes[0, 0].set_ylabel("Population")
axes[0, 0].legend()
axes[0, 0].grid(True)

# 출생 vs 사망 비교 
axes[0, 1].plot(df_clean["Year"], df_clean["birth"], color="green", label="Births"]
axes[0, 1].plot(df_clean["Year"], df_clean["Death"], color="red", label="Deaths"]
axes[0, 1].set_title("Births vs Deaths")
axes[0, 1].set_xlabel("Year")
axes[0, 1].set_ylabel("Count")
axes[0, 1].legend()
axes[0, 1].gird(True)

# 연도별 인구 증가량 변화
axes[1, 0].scatter(df_clean["Year"], df_clean["increments"], color="purple", label="Increments")

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (4030359388.py, line 13)